<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ entity|capitalize }} custom fields</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style>

        .container {
            margin-top: 100px;
        }

        .enum-field-property {
            margin: 5px 0;
            white-space: nowrap;
            padding: 0;
        }

        .enum-field-property span {
            font-weight: bold !important;
            user-select: none;
        }

        .enum-field-property span:hover {
            filter: brightness(.95);
        }

        .enum-field {
            background-color: aliceblue;
            padding: 5px;
            margin: 5px 0;
            border-radius: 5px;
        }

        .enum-field:hover {
            filter: brightness(.97);
        }

        .entity-title {
            margin-bottom: 50px;
        }

        td button {
            width: 100%;
        }

        .cbody {
            margin-top: 20px;
        }

        td, th {
            vertical-align: top;
        }
    </style>
</head>
<body>
{# @controller App\Controller\CustomFieldsController::detail #}
<div class="container">
    <h4 class="entity-title"><b>{{ entity|capitalize }}</b> custom fields</h4>
    <table class="bordered">
        <thead>
        <tr>
            {% for column in columns %}
                <th>{{ column }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                {% for key, value in item %}
                    <td>
                        {% if value is iterable %}
                            <button class="waves-effect btn">show</button>
                            <div class="cbody">
                                {% for enum in value %}
                                    <div class="enum-field">
                                        {% for k, v in enum %}
                                            <div class="enum-field-property"><span
                                                        class="new badge blue lighten-2"
                                                        data-badge-caption="">{{ k }}</span> {{ v }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            {% if value is null %}
                                &ndash;
                            {% else %}
                                {{ value ? value : 'false' }}
                            {% endif %}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    $(document).ready(function () {
        $('.cbody').hide();

        $('button').on("click", function (e) {
            $(e.target).next().toggle()
            const target = $(e.target);
            const text = target.text();
            target.text(text === "show" ? "hide" : "show");

        });
    });
</script>
</body>
</html>